/* google fonts */

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@300;400;500;600;700&family=Mukta:wght@200;300;400;500;600;700;800&family=Oleo+Script+Swash+Caps:wght@400;700&family=Poppins:wght@200;400;500;600;700;800&display=swap');

/* common style or utilities */

body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: #ffffff;
    width: 870px;
    padding: 30px;
    margin-bottom: 22px;
    border-radius: 8px;
}
hr{
    border: 1px solid #D1D1D1;
}

/* top players styles */

.top-players{
    margin-bottom: 30px;
}
.section-title{
    color: #562EFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    margin-top: 0;
}

.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
    gap: 18px;
    
}
.player img{
    height: 56px;
    width: 56px;
    cursor: pointer;
}
.player h3{
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
    cursor: pointer;
}

/* < ==== tob blog styles ==== > */

.top-blogs{
    margin-top: 30px;
    
}

.blogs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 30px;
}
.blog{
    display: flex;
    gap: 20px;
    width: 93%;
    
}
.blog .thumbnail img{
    height: 117px;
    width: 177px;
}
.blog-info .blog-title{
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 500;
}
.blog-author{
    font-size: 16px;
    color: #9F9F9F;
}
.blog-author a{
    text-decoration: none;
    color: #562EFF;
}

/* courses section */

.courses{
    display: flex;
   justify-content: space-around;
}
.course{
    width: 270px;
    border-radius: 8px;
    background-color: white;
    box-shadow:2px 2px 15px rgb(210, 208, 208);
    padding: 0px 10px 15px 15px;
    box-sizing: border-box;
}
.course .course-banner img{
    height: 104px;
    width: 224px;
}

.course-instructor a{
    text-decoration: none;
    color: #ED6B4F;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    
}                                                                              
.course-info .fas{
    color: #FFC014;
    
}
.rating-point{
    color: #A2A2A2;
}
.fas{
    font-size: 10px;
}

.course-duration{
    color: #FF4A60;
    background-color: #FFE4E8;
    padding: 3px 10px;
    border-radius: 15px;
    font-weight: 500;
}
.course-duration .fa-clock{
    margin-right: 8px;
}